
@{
    var _news = ViewData["news"] as List<News>;
}

@foreach (var news in _news)
{
       var human = news.Author as Human;
    
    <table>

        <tr>
            <td>Id=</td>
            <td>@news.Id </td>
        </tr>

        <tr>
            <td>Title=</td>
            <td>@news.Title </td>
        </tr>

        <tr>
            <td>Text=</td>
            <td>@news.Text</td>
        </tr>

        <tr>
            <td>FirstName=</td>
            <td>@human.FirstName</td>
        </tr>

        <tr>
            <td>LastName=</td>
            <td>@human.LastName</td>
        </tr>

        <tr>
            <td>IsFake=</td>
            <td>@news.IsFake</td>
        </tr>

    </table>
    <h1>------------------------------------------------------</h1>
    <p></p>
}