@model List<News>

@section AdditionalInfo{
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Text</th>
            <th>Author Name</th>
            <th>Fake</th>
        </tr>
        @foreach (var news in Model)
        {
            <tr>
                <td>@news.Id</td>
                <td>@news.Title</td>
                <td>@news.Text</td>
                <td><a asp-controller="Human" asp-action="Authors" asp-route-AuthorsId="@news.Author.Id">@news.Author.FirstName @news.Author.LastName</a></td>
                <td>@news.IsFake</td>
            </tr>
        }
    </table>
}